{% extends "base.html" %}

{% block title %}Initiative Tracker Edit Group{% endblock %}

{% block content %}

<h1></h1>
<h1 align="center">Come here to edit your groups!</h1>
<h3 align='center'>Select the group you'd like to edit.</h1>
<br><br>

<div align='center'>
<form id="groupForm">
    <select name="group" id="groupSelect">
        {% for group in groups %}
            <option value="{{ group.id }}">{{ group.group_name }}</option>
        {% endfor %}
    </select>
</form>
</div>


<div id="playersList">

</div>



<script>
    document.getElementById('groupSelect').addEventListener('change', function() {
        var groupId = this.value;
        fetch(`/get-characters?group_id=${groupId}`)
            .then(response => response.json())
            .then(data => {
                var charactersList = document.getElementById('charactersList');
                charactersList.innerHTML = '';
                data.characters.forEach(character => {
                    var li = document.createElement('li');
                    li.textContent = character.character_name;
                    charactersList.appendChild(li);
                });
            });
    });
</script>



{% endblock %}