{% extends "base.html" %}

{% block title %}Initiative Tracker{% endblock %}

{% block content %}

<h1></h1>
<h1 align="center">Roll for Initiative!</h1>

<form action="initiative-tracker.html">
    <label for align="center">Player Group:</label>
    <select name="is_player = true" id="player_group">
        <option value="Test">Test</option>
    </select>
    <br><br>
  </form>player

<form action="initiative-tracker.html">
    <label for align="center">Enemy Group:</label>
    <select name="is_player = false" id="enemy_group">
        <option value="Test">Test</option>
    </select>
    <br><br>
  </form>player

<ul class="list-group list-group-flush" id='groups'>
    {% for group in groups %}
        <li class='list-group-item'>{{group.characters}}</li>
    {% endfor %}

</ul>


{% endblock %}