{% extends "base.html" %}

{% block title %}Sorting Hat{% endblock %}

{% block content %}

<h1></h1>
<h1 align="center">Welcome to the Sorting Hat!</h1>
<h2 align='center'>Please input Backstory for sorting!</h2>
<br><br>

<div align="center">
    <!-- This adds the textbox area for input. -->
    <form id="sortingHatForm" method="POST" action="/sort">
        <label for="backstory">Backstory (Max 10,000 Characters):</label><br>
        <textarea id="backstory" name="backstory" rows="10" cols="70" style="width: 500px; height: 300px;"></textarea><br><br>
        <input type="submit" value="Submit"> 
    </form>
</div>
{% endblock %}